<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD pROJECT</title>
  </head>
  <body>
    <form action="/project/add" method="post">
      <fieldset>
        <input type="text" name="name" value="" placeholder="nama">
        <select class="" name="status">
          <option value="Planning">Planning</option>
          <option value="On Planning">On progress</option>
          <option value="Done">Done</option>
        </select>
        <!-- <input type="text" name="status" value="" placeholder="status"> -->
        <button type="submit" name="button">SAVE</button>
        <!-- <select>
          <%dataSupervisor.forEach(z=>{%>
            <option value="<%=z.id%>"><%=z.name%></option>
          <%})%>
        </select> -->
      </fieldset>
    </form>
      <a href="/project/list">Back</a>
  </body>
</html>
