<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD Supervisor</title>
  </head>
  <body>
    <form action="/supervisor/add" method="post">
      <fieldset>
        <input type="text" name="name" value="" placeholder="nama">
        <input type="text" name="email" value="" placeholder="email">
        <button type="submit" name="">SAVE</button>
        <!-- <select>
          <%dataSupervisor.forEach(z=>{%>
            <option value="<%=z.id%>"><%=z.name%></option>
          <%})%>
        </select> -->
      </fieldset>
    </form>
      <a href="/supervisor/list">Back</a>
  </body>
</html>
