<%- include partial/header%>
    <title>LIVE CODE</title>
  <h1>PROJECT-SUPERVISOR</h1>
  <body>
    <a class="btn btn-success"href="/project/list">project</a>
    <a class="btn btn-success"href="/supervisor/list">supervisor</a>
  </body>
</html>
